%% Set the domain name for the server
{ domain, "localhost" }.

%% Set the port on which to listen
{ port, 4433 }.

%% These are the CA cert, X509 cert, and private key for the TLS config
{ cacert, "certs/cacert.pem" }.
{ cert, "certs/cert.pem" }.
{ key, "certs/key.pem" }.

%% JWT signing keys
{ public, "keys/public/mesgd.pem" }.
{ private, "keys/private/mesgd.pem" }.

%% Cluster config
{ nodes, [ mesgd@localhost ] }.
{ cookie, thisisaterriblecookie }.

%% Administrator config
{ admin, "admin@localhost" }.
{ keystore, "./keys" }. 

%% Console config
{ console_port, 5544 }.
{ console_cacert, "certs/cacert.pem" }.
{ console_cert, "certs/cert.pem" }.
{ console_key, "certs/key.pem" }.
{ console_root, "console" }.
